* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: grid;

  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.pixel {
  border: 1px solid red;
}

#blocks-button {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 16px;
}

#clear-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
